<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Says!</title>
</head>
<body>
    <form>
        <select id="redOrWhite">
            <option value="red">Red</option>
            <!-- <option value="white">White</option> -->
        </select>
        <select id="bold-range">
            <!-- <option value="1-2">all cream</option> -->
            <option value="3-4">splash of milk</option>
            <!-- <option value="5-6">black</option> -->
        </select>
        <select id="sweet-range">
            <option value="1-2">lime</option>
            <!-- <option value="3-4">plums</option>
            <option value="5-6">Ripe Mango</option> -->
        </select>
        <select id="acid-range">
            <!-- <option value="1-2">sour candy</option> -->
            <option value="3-4">fruit gummies</option>
            <!-- <option value="5-6">milk chocolate</option> -->
        </select>
        <select id="price-range">
            <option value="1-20">1-20</option>
            <!-- <option value="20-40">20-40</option>
            <option value="40-200">40+</option> -->
        </select>
        <button type="button" name="button">pick my wine</button>
    </form>
    <div id="div1">
        <!-- <ul class="rappers">
        <% for(let i=0; i < data.length; i++) {%>
        <li class="wineOuput">
            <span><%= data[i].name %></span>
            <span><%= data[i].keywords %></span>
        </li>
        <% } %>
    </ul> -->
    </div>
    <div id="div2"></div>
    
    <script src="surveyMain.js"></script>
</body>
</html>